<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Fragmento del Navbar -->
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top shadow">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/videojuegos">
                <i class="bi bi-joystick"></i> Tienda de Videojuegos
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/videojuegos">
                            <i class="bi bi-house"></i> Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light text-primary fw-bold ms-2 px-3" href="/videojuegos/nuevo">
                            <i class="bi bi-plus-circle"></i> Agregar Videojuego
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
